.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(225, 220, 220);
}

.header a {
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.header a:hover {
    transform: translate(0, -10%);
    color: rgb(128, 15, 235);
}


@media screen and (max-width: 1200px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }